
.element__tis
{
  font-size: larger;
  padding: 90px;
  text-align: center;
  background-color: $cinstall;
  display: flex;
  flex-direction: column;
}

.element__filoso
  {
    font-size: larger;
    padding: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .element__index1
 {
  font-size: larger;
  background-color: $cindex;

  @include pads;
}

.element__instal
{
  font-size: larger;
  background-color: $cinstall;
  @include pads;
  display: flex;
  flex-direction: column;
}


.element__hist
{
  font-size: larger;
  background-color: $cinstall;
  @include pads;
  display: flex;
  flex-direction: column;
}



.element__contacto1
{
  font-size: larger;
  background-color: $cindex;
  @include pads;
}





.index1 {
  font-size: larger;
  background-color: $cindex;
  @include pads;
}

.dex {
  font-size: larger;
  background-color: $ccolo;
  @include pads;
  display: flex;
  flex-direction: column;
}

.instal {
  font-size: larger;
  background-color: $cinstall;
  @include pads;
  display: flex;
  flex-direction: column;
}

.hist {
  font-size: larger;
  background-color: $cinstall;
  @include pads;
  display: flex;
  flex-direction: column;
}

.tis {
  font-size: larger;
  padding: 90px;
  text-align: center;
  background-color: $ccolo;
  display: flex;
  flex-direction: column;
}

.filoso {
  font-size: larger;
  padding: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contacto1 {
  font-size: larger;
  background-color: $cindex;
  @include pads;
}

.pie
{
  text-align: center;
  background-color: $cpie;
  padding: 50px;
  grid-area:footer;
}


.section,
.article,
.main {
  font-size: larger;
  background-color: $cbody;
  text-align: center;
}

.instalacion {
  background-color: $ccolo;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}


.aprivacidad {
  background-color: gray;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
  text-align: center; }

.aprivacidad h1 {
  font-size: 60px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.aprivacidad p {
  font-size:larger;
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; 
}
